body{
    background-color: #191919;
    background-image: url(./Imgs/v1016-b-09.jpg);
    background-size: 250%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
::-webkit-scrollbar {
    width: 0px;
}

#UperBar{
    position: absolute;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: #0a0a0a;
    z-index: 9;
    margin-top: -20px;
    margin-left: -8px;
    box-shadow: 8px 8px 8px black;
}
#logo{
    width: 500px;
    max-width: 500px;
    margin-top: -10px;
    position: absolute;
    position: fixed;
    z-index: 9;
}
#Home{
    position: absolute;
    position: fixed;
    color: white;
    z-index: 10;
    font-size: 25px;
    margin-left: 83%;
    margin-top: 1.4%;
    text-shadow: 5px 5px 5px solid purple;
    transition: color 0.3s ease; 
    cursor: default;
    
}
#Home:hover{
    color: #8c52ff;
    text-shadow: rgb(38, 38, 38) 2px 2px 2px ;

}
#Sobre{
    position: absolute;
    position: fixed;
    color: white;
    z-index: 10;
    font-size: 24px;
    margin-left: 91%;
    margin-top: 1.5%;
    text-shadow: 5px 5px 5px solid purple;
    transition: color 0.3s ease; 
    cursor: default;
    
}
#Sobre:hover{
    color: #8c52ff;
    text-shadow: rgb(38, 38, 38) 2px 2px 2px ;

}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

div .flexboxC .gridC {
    margin-bottom: 40px;
}


.flexboxC {
    
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
}

.flexI {
    background-color: #310b31;
    color: white;
    padding: 20px;
    margin: 10px;
    flex: 1 1 300px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s;
}

.flexI:hover {
    transform: scale(1.05);
}


.gridC {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
}

.gridI {
    background-color: #4400ff;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gridI:hover {
    transform: scale(1.05);
}

h1 {
    margin-top: 100px;
    color: white;
}