body{
    background-color: #191919;
    background-image: url(./Imgs/v1016-b-09.jpg);
    background-size: 250%;
}
::-webkit-scrollbar {
    width: 0px;
}

#UperBar{
    position: absolute;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: #0a0a0a;
    z-index: 9;
    margin-top: -20px;
    margin-left: -8px;
    box-shadow: 8px 8px 8px black;
}
#logo{
    width: 40%;
    margin-top: -10px;
    position: absolute;
    position: fixed;
    z-index: 9;
}
#Home{
    position: absolute;
    position: fixed;
    color: white;
    z-index: 10;
    font-size: 25px;
    margin-left: 83%;
    margin-top: 1.4%;
    text-shadow: 5px 5px 5px solid purple;
    transition: color 0.3s ease; 
    cursor: default;
    
}
#Home:hover{
    color: #8c52ff;
    text-shadow: rgb(38, 38, 38) 2px 2px 2px ;

}
#Sobre{
    position: absolute;
    position: fixed;
    color: white;
    z-index: 10;
    font-size: 24px;
    margin-left: 91%;
    margin-top: 1.5%;
    text-shadow: 5px 5px 5px solid purple;
    transition: color 0.3s ease; 
    cursor: default;
    
}
#Sobre:hover{
    color: #8c52ff;
    text-shadow: rgb(38, 38, 38) 2px 2px 2px ;

}
#MinhaImg{
    z-index: 2;
    position: absolute;
    width: 12%;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 8%;
    border-radius: 70px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    
}
#MinhaImg:hover{
    transform: translateY(-7px) translateX(-77px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.849);
}
#PerfilBox{
    z-index: 1;
    position: absolute;
    width: 1000px;
    height: 450px;
    background-color: #ffffffab;
    margin-top: 15%;
    border-radius: 10px;
    left: 50%; 
    transform: translateX(-50%);
    box-shadow: #000000  7px 5px 10px ;
}
#MyName:hover{
    transform: translateY(-7px) translateX(-140px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.849);
    cursor: default;
   
}
#MyName{
    
    background-color: rgb(86, 79, 91);
    max-width: 300px;
    border-radius: 13px;
    margin-top: 63px;
    text-align: center;
    margin-left: 50%; 
    transform: translateX(-50%);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
#MBio{
    background-color: white;
    text-align: center;
}
p{
    text-align: center;
    font-size: 18px;
}