<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trolha da aprendeizagem</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header><!--Tag semantica que define cabeçalho-->
        <div id="logo"><!--Logotipo do site-->
            <picture>
                <img src="./logo.png" alt="logo">
            </picture>
        </div><!--Fim do logotipo-->
        <nav><!--Barra de navegação-->
            <div class="menu"><!--Cria menu de nvegação-->
                <a href="#">Sobre</a>
                <a href="#">Conteudo</a>
                <a href="#">O projeto</a>
            </div>
        </nav>
    </header><!--Fim do cabeçalho-->
    <main><!--Tag semantica conteudo principal-->
        <div class="principal"><!--Bloco principal-->
            <div class="conteudo lateral"><!--Bloco lateral-->
                <h2>Título 1</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil aliquam esse nulla natus minima, magnam modi, neque ipsa suscipit ab omnis earum beatae animi dignissimos voluptatum quam officiis temporibus cupiditate. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ipsum perferendis eos pariatur ab, impedit quae adipisci consequatur reprehenderit nulla labore nisi modi atque ut quos aliquid repudiandae magnam dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime sed, id molestiae quod fugiat labore quos aliquam nobis atque qui voluptatibus pariatur eos quam necessitatibus commodi, et delectus expedita repudiandae.
                </p>
            </div><!--Fim do bloco lateral-->
            <div class="conteudo central"><!--Bloco central-->
                <h2>Título 02</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nostrum voluptatibus vero sed veniam perferendis explicabo eius aliquam, eveniet nobis, accusamus, ipsa numquam dolorum quo corporis cupiditate ratione repudiandae fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt harum qui ipsa pariatur sapiente possimus consequuntur placeat ratione reprehenderit? Aut ipsum quam natus ullam, est praesentium aperiam nihil tenetur fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio recusandae quam id rem, voluptatibus exercitationem aliquid deserunt odit quod obcaecati vero dignissimos ratione nobis accusantium culpa quos iste soluta nemo!
                </p>
            </div><!--Fim do bloco central-->
            <div class="conteudo lateral"><!--Bloco lateral direito-->
                <h2>Título 3</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil aliquam esse nulla natus minima, magnam modi, neque ipsa suscipit ab omnis earum beatae animi dignissimos voluptatum quam officiis temporibus cupiditate. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ipsum perferendis eos pariatur ab, impedit quae adipisci consequatur reprehenderit nulla labore nisi modi atque ut quos aliquid repudiandae magnam dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime sed, id molestiae quod fugiat labore quos aliquam nobis atque qui voluptatibus pariatur eos quam necessitatibus commodi, et delectus expedita repudiandae.
                </p>
            </div><!--Fim do bloco lateral direito-->
        </div><!--Fim do bloco pricipal-->
    </main>
    <footer><!--Tag smantica-->
        <div class="rodape"><!--bloco rodapé-->
            <p>₢ Todos os direitos reservados</p>               
        </div>
    </footer>
</body>
</html>