<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trolha da aprendeizagem</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header><!--Tag semantica que define cabeçalho-->
        <div class="logo"><!--Logotipo do site-->
            <picture>
                <img src="./logo.png" alt="logo">
            </picture>
        </div><!--Fim do logotipo-->
        <nav><!--Barra de navegação-->
            <div class="menu"><!--Cria menu de nvegação-->
                <a href="#">Sobre</a>
                <a href="#">Conteudo</a>
                <a href="#">O projeto</a>
            </div>
        </nav>
    </header>
</body>
</html>